<article class="px-1">
  <p>
    The mission of Maker Forge is to inspire and empower makers, hobbyists, and
    enthusiasts to explore the world of open-source robotics, electronics & 3D
    printing. Whether you're a seasoned pro or just starting out, the projects
    and resources here are designed to help you unleash your creativity and
    bring your ideas to life.
  </p>
</article>

<section class="projects-section px-1">
  <h2>Check out the Projects</h2>
  <div class="project-grid">
    <article class="project-card">
      <a href="/cm5-carrier-board">
        <img
          src="/assets/project_thumb_cm5.png"
          alt="CM5 Carrier Board"
        />
        <h3>CM5 Carrier Board</h3>
      </a>
      <p>
        Streamline the Raspberry Pi 5 for robotics with this custom carrier board designed for the Compute Module 5.
      </p>
    </article>
    <article class="project-card">
      <a href="/modular-biped">
        <img
          src="/assets/project_thumb_buddy.jpg"
          alt="Modular Biped Robot"
        />
        <h3>Modular Biped Robot</h3>
      </a>
      <p>
        A walking robot built using 3D-printed parts and Arduino, designed for
        modular experimentation.
      </p>
    </article>

    <article class="project-card">
      <a href="/lightsaber">
        <img
          src="/assets/project_thumb_lightsaber.jpg"
          alt="Raspberry Pi Pico Lightsaber"
        />
        <h3>Raspberry Pi Pico Lightsaber</h3>
      </a>
      <p>Build a lightsaber hilt with a Raspberry Pi Pico and Neopixels</p>
    </article>

    <article class="project-card">
      <a href="/magic-map">
        <img
          src="/assets/project_thumb_map.jpg"
          alt="Magic Map"
        />
        <h3>Magic Map</h3>
      </a>
      <p>
        Build a Harry Potter style map that shows the location of a user using a
        hidden LED matrix
      </p>
    </article>
  </div>
</section>

<h2>Read the Articles</h2>
